In [7]:
from experiments.log import lookup_results
import os
import pandas as pd

# import results/full_model.csv as dataframe
df = pd.read_csv(os.path.join('results', 'full_model.csv'))

In [8]:
df.pivot_table(index=['experiment'], columns=['model'], values=['wikitext2'])

                              wikitext2                                \
model                    llama-13b-meta llama-30b-meta llama-65b-meta
experiment
all_W16A4O12_ol1p16                7.20           6.05           5.19
all_W16A4O12_ol1p32                7.86           6.42           5.62
all_W16A4O12_ol1p64                8.38           6.86           6.02
all_W16A4O16_ol1p16                7.18           6.04           5.20
all_W16A4O16_ol1p32                7.82           6.46           5.62
all_W16A4O16_ol1p64                8.39           6.89           6.04
all_W4A4O12_ol1p16                 7.79           6.46           5.63
all_W4A4O12_ol1p16_wg128           7.51           6.24            NaN
all_W4A4O12_ol1p32                 8.63           6.98           6.12
all_W4A4O12_ol1p32_wg128           8.25           6.71            NaN
all_W4A4O12_ol1p64                 9.42           7.39           6.59
all_W4A4O12_ol1p64_wg128           9.30           7.40            NaN
all_W4A4O8_ol1p16                  7.88           6.52           5.67
all_W4A4O8_ol1p32                  8.66           7.10           6.18
all_W4A4O8_ol1p64                  9.48           7.51           6.69


model                    llama-7b-meta opt-13b opt-30b opt-6.7b opt-66b
experiment
all_W16A4O12_ol1p16               7.79   10.78   10.15    11.33   10.06
all_W16A4O12_ol1p32               8.36   10.93   10.24    11.38     NaN
all_W16A4O12_ol1p64               8.82   10.98     NaN    11.40     NaN
all_W16A4O16_ol1p16               7.80   10.78   10.16    11.32   10.03
all_W16A4O16_ol1p32               8.34   10.93   10.24    11.38   10.20
all_W16A4O16_ol1p64               8.82   10.97   10.35    11.40   10.25
all_W4A4O12_ol1p16               11.75   10.96   10.29    11.84   10.38
all_W4A4O12_ol1p16_wg128          9.67   11.02   10.19    11.62   10.18
all_W4A4O12_ol1p32               12.58   11.08   10.40    11.89   10.44
all_W4A4O12_ol1p32_wg128         10.65   11.11   10.32    11.66   10.28
all_W4A4O12_ol1p64               14.49   11.28   10.50    11.90   10.47
all_W4A4O12_ol1p64_wg128         12.83   11.31   10.30    11.71   10.25
all_W4A4O8_ol1p16                11.36   12.84   10.77    14.02  194.24
all_W4A4O8_ol1p32                12.89   12.95   10.85    14.08  157.20
all_W4A4O8_ol1p64                14.47   13.26   10.99    14.11  117.36

In [9]:
df.pivot_table(index=['experiment'], columns=['model'], values=['c4'])

                                     c4                                \
model                    llama-13b-meta llama-30b-meta llama-65b-meta
experiment
all_W16A4O12_ol1p16                9.08           7.86           7.41
all_W16A4O12_ol1p32                9.69           8.24           7.93
all_W16A4O12_ol1p64               10.23           8.61           8.44
all_W16A4O16_ol1p16                9.11           7.86           7.41
all_W16A4O16_ol1p32                9.71           8.24           7.94
all_W16A4O16_ol1p64               10.24           8.62           8.47
all_W4A4O12_ol1p16                10.27           8.47           7.94
all_W4A4O12_ol1p16_wg128           9.67           8.09            NaN
all_W4A4O12_ol1p32                11.20           8.92           8.59
all_W4A4O12_ol1p32_wg128          10.51           8.49            NaN
all_W4A4O12_ol1p64                12.24           9.40           9.26
all_W4A4O12_ol1p64_wg128          12.05           9.01            NaN
all_W4A4O8_ol1p16                 10.43           8.50           7.99
all_W4A4O8_ol1p32                 11.35           8.95           8.67
all_W4A4O8_ol1p64                 12.42           9.42           9.41


model                    llama-7b-meta opt-13b opt-30b opt-6.7b opt-66b
experiment
all_W16A4O12_ol1p16               9.76   11.72   11.21    12.19   10.64
all_W16A4O12_ol1p32              10.32   11.85   11.30    12.24     NaN
all_W16A4O12_ol1p64              10.74   11.89     NaN    12.28     NaN
all_W16A4O16_ol1p16               9.77   11.72   11.21    12.20   10.64
all_W16A4O16_ol1p32              10.31   11.86   11.31    12.23   10.70
all_W16A4O16_ol1p64              10.77   11.89   11.37    12.26   10.73
all_W4A4O12_ol1p16               14.33   12.01   11.41    12.88   10.99
all_W4A4O12_ol1p16_wg128         12.69   11.92   11.32    12.61   10.79
all_W4A4O12_ol1p32               15.89   12.12   11.53    12.94   11.01
all_W4A4O12_ol1p32_wg128         13.96   12.02   11.42    12.65   10.82
all_W4A4O12_ol1p64               16.57   12.24   11.62    12.96   11.04
all_W4A4O12_ol1p64_wg128         15.83   12.21   11.42    12.72   10.84
all_W4A4O8_ol1p16                14.54   14.02   12.19    14.78  281.18
all_W4A4O8_ol1p32                16.04   14.07   12.34    15.01  217.29
all_W4A4O8_ol1p64                16.80   14.31   12.44    14.97  208.73